<h1>All Exercise</h1>

<ul>
  <li>That's the tag page</li>
  <p><a href="/tags">Tags</a></p>
  <li>That's the title page</li>
  <p><a href="/title">Title</a></p>
  <li>That's the paragraph page</li>
  <p><a href="/paragraph">paragraph</a></p>
  <li>That's the headings page</li>
  <p><a href="/headings">headings</a></p>
  <li>That's the headings page</li>
  <p><a href="/lists">lists</a></p>
  <li>New exercises!!</li>
  <p><a href="/play_with_html">Play with html</a></p>
  <li>Image exercise</li>
  <p><a href="/image">Look at the pic inside</a></p>
  <li>Make a table</li>
  <p><a href="/table">Try to build a table</a></p>
</ul>
