<h1>Oink oink</h1>


<img src="/piggg.jpg" alt="An adorable pig" height="200px"
style="float: left;">




<p>This is an amazing pic!<code>The pig image</code> makes me laugh!Look at
  the text pig image it's different!</p>






<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
