<h1> Link, Open link in another page, Html button</h1>

<p>go to <a <a target="_blank" href="https://www.google.ch/?gfe_rd=cr&ei=4p2IWKu3JZLCXoyWjIgB"><em>Google</em></a> to know more</p>

<p> using a target="_blank" i can open the link in another tab, and i used htlm code instead of
java script to implement the go back button</p>





<a href="/">Take me home</a>
