<p><a href="http://www.htmldog.com/guides/html/beginner/tags/">Tags</a></p>


















<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
