<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TailorBid</title>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="/base.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js">
</script>


    <style>
      body {
        font-family: fantasy;
        background-image: url(/sewing.jpg);
        background-size: cover;
      }
    </style>
  <head>

  <body>

    <%= yield %>
    <script>
      $(document).foundation();
    </script>

    <footer>

    </footer>
  </body>
</html>
