<header>
  <h1 style="text-align: center;">Tailor Bid</h1>
  <h2 style="text-align: center;">The easiest way to find a tailor</h2>
</header>

<style>
.icons-table {
  padding-top: 100px;
}
.icons-table td {
  padding-left: 50px;
  padding-right: 50px;
}
.ottitab {
  background-color: red;
  min-width: 70%;
}
</style>

<center>
    <table class="icons-table" cellpadding="15px">
      <tr>
        <td style="text-align: center">
          <p>Download</p>
          <a href="/download"><img src="/download.png"></a>
        </td>

        <td style="text-align: center">
          <p>Book</p>
          <img src="/booking.png">
        </td>

        <td style="text-align: center">
          <p>Profile</p>
          <img src="/profile.png">
        </td>
      </tr>
    </table>

    <table class="ottitab">
      <tr><td>m</td></tr>
    </table>
</center>
