<div class="row">
  <div class="small-12 columns">
    <ul class="menu"; style="background-color: rgba(198, 152, 149, 0.39)">
      <li><a href="#">Find a tailor</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>


<div class="background">
  <div class="transbox">
    <div class="row">
      <div class="small-12 columns">
        <h1 style="text-align: center; color: white">Tailor Bid</h1>
        <h2 style="text-align: center; color: white">The easiest way to find a tailor</h2>
      </div>
    </div>
  </div>
</div>


<div class="row" style="padding: 2em; color: white; background-color: rgba(198, 149, 149, 0.72);">
  <div class="small-12">
    <h5 style="text-align: center;">Tailor Bid helps both tailors and customers to find the perfect match for your needs<h5>
  </div>
  <div class="small-6 large-2 columns; text-align: center;">
    <h6>
        <strong>Find a tailor will be anymore a problem!<strong>
        <h6>Within a few steps you will find a solution to your tailoring problem:</h6>
        <ul>
          <li>Fill the form with your generality</li>
          <li>Upload a picture</li>
          <li>Choose a range of prize you are willing to spend</li>
          <li>Choose the deadline</li>
          <li>Submit the form</li></strong>
          <li>Find your tailor match!</li></strong>
        </ul>
    </div>
</div>
